<%= error_messages_for :event %>

<% form_for(@event) do |f| %>
<div class="form_row full">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="form_row full">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="form_row">
  <%= f.label :start_time %>
  <%= f.text_field :start_time %>
</div>
<div class="form_row">
  <%= f.label :end_time %>
  <%= f.text_field :end_time %>
</div>
<div class="form_row full">
  <%= f.label :reminder %>
  <%= f.check_box :reminder %> 
</div>
<div class="form_row full">
  <%= f.label :privacy %>
  <%= f.select :privacy, [["Public", Event::PRIVACY[:public]],["Me and my contacts", Event::PRIVACY[:contacts]]] %> 
</div>
<div class="form_row">
  <%= f.submit @event.new_record? ? "Create" : "Update" %>
</div>
<% end %>


<%= stylesheet_link_tag 'datepicker' %>
<%= javascript_include_tag 'ui.core.js' %>
<%= javascript_include_tag 'ui.datepicker.js' %>
<%= javascript_include_tag 'i18n/ui.datepicker-es.js' %>

<script>
  $(document).ready(function(){
    $('#event_start_time').datepicker({ minDate:"-10d", firstDay: 1, prevText: '&laquo;',nextText: '&raquo;'});
    $('#event_start_time').datepicker("setDate",new Date($('#event_start_time').val().replace(/-/g,',')));
    $('#event_end_time').datepicker({beforeShow: customRange, firstDay: 1, prevText: '&laquo;',nextText: '&raquo;'});
    $('#event_end_time').datepicker("setDate",new Date($('#event_end_time').val().replace(/-/g,',')));
    function customRange(input) {
      return {
        minDate: ( (input.id == 'event_end_time' ? $('#event_start_time').datepicker("getDate") : null) )};
    }
     $.datepicker.regional['es'];
  });
</script>